@import url("https://rsms.me/inter/inter.css");
@font-face {
    font-family: Inter;
    src: url("https://rsms.me/inter/inter.css")
}

body{
    text-align: center;
    color: #ffffff;
    background-color: #000000;

    font-family: "Inter";
    font-weight: 800;
    font-size: 50px;
}